/* Основной фон */
body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #0a0a0a;
  color: #f1c40f; /* жёлтый */
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Верхняя часть */
header {
  background: linear-gradient(90deg, #000, #111);
  padding: 20px;
  border-bottom: 3px solid #f1c40f;
}

header .logo {
  width: 100px;
  border-radius: 50%;
}

h1 {
  margin: 10px 0 5px;
  font-size: 2rem;
  color: #f1c40f;
}

header p {
  color: #ddd;
}

/* Баннер */
.banner {
  position: relative;
  margin: 20px auto;
  max-width: 800px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(241, 196, 15, 0.4);
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-text {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  padding: 15px 30px;
  border-radius: 10px;
}

/* Кнопка */
button {
  background: #f1c40f;
  color: #000;
  font-weight: bold;
  padding: 12px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  transition: 0.3s;
}

button:hover {
  background: #ffdb4d;
}

/* Информация */
.info {
  background: #111;
  margin: 30px auto;
  max-width: 700px;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(241, 196, 15, 0.2);
}

/* Галерея */
.gallery {
  margin: 40px auto;
  max-width: 800px;
}

.gallery .images {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery img {
  width: 300px;
  border-radius: 12px;
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(241, 196, 15, 0.2);
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(241, 196, 15, 0.6);
}

/* data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxIREhUSEhMVFRUVFxUXFRUWFRUVFxUVGBgYGBYVFRYYHSggGB0lHRcVITEiJSkrLi4uFx8zODMtNygtLisBCgoKDg0OGxAQGi0lICUtLS0vKy0tLS0tLS0tLS0tLTUrLS0tLS0tLS0vLTUtKy0tLS0tLS0rLS0tLS0tLS0tLf/AABEIAKcBLgMBIgACEQEDEQH/xAAbAAABBQEBAAAAAAAAAAAAAAAFAQIDBAYAB//EAEIQAAIBAgQCCAMFBgUDBQEAAAECEQADBBIhMQVBBhMiUWFxgZEyobEUI1LB0UJicoLh8BUzU5LxB6KyJDRDc8IW/8QAGQEAAgMBAAAAAAAAAAAAAAAAAQIAAwQF/8QALREAAgICAgEDAgYBBQAAAAAAAAECEQMhEjEEEyJBUWEjMnGxwfDRBRSBkaH/2gAMAwEAAhEDEQA/AN1XVELldmqo6pMDSzUIanBqBKJQ1OBqMGnAeNQFCtTc1PC0uSjZBoaumnhKdko2Ahil0qQrTWWjZLOFPWqeLxduyAbtxLYOxdlUHyzGpMLiVcTbdXA3KsGA9qhC0Ky/F+NXUusqkAKYGgPLxrRm5WG4lcz3GbvYmigUWx0gv/iH+0Vf4X0hzMFvBQDoHAiDyzeHjWcI0qK44USxAAkknYUaIekG0tN6rxrzZem162mVLeYD4HeRI5c5juOlXOFdN7xB660RqCXUE5VHxdnf6xNJ6iXyNT+hvwDSVFwfiNrE2xctMGXvFX2QU1i8kVMtPVKCXeJ3DqDlHdp9TVa5xJ/xn5VLGo0TpTRQLh/FSH+8c5SI1kweVHitMgMY1MNSRSZaKFGqKmFqo64zRAcyRTSRSEUhFMhWNJqxhVHfUBWuViKZ7AtMvMBULKeVd1hjUVH1opUmM2hQjUhmpFuinm6O6jbFpA8CnAUqipFWsbZqGAUuWpQtLloWQgilE1KVpAtGwCKxqVXpIpbIkT5+1QDHhqWaUJS5aIpGZrE/9SOkV/DLbs4bS5dDMzgZjbtrAkdxJO/7prdRQi5hv/XqzAEPhnQSJhkuBjr4hx/tqOVIlXo8Js8IuXnEZnYnckt6knlrWkv9E8Xw5FxVpyrHQ5GjfUBuTA91bLiNpbd05FCroToBRpsZhsbh3sJcDkiAVkgMNQJ2O3Ksss0uX2L5YVGP3KHRXjhxVtHnRgQwO6soOYT5ihV4VJ0DwJsq2bZrl4gRGUhMhHupPrXXlrZGSa0U19Suw0pvB+GDGYxLL/5dpDeuL+M5sttSO6ZJ/hjvqW4Kd0YuphsVfv3biqr2FUFtArBjoSe8ke9Gb0SrZFxjhiPiGUd4idhtrHfWz4R0bt21Db6NIIBksZJJrEYhs913BzTLQN4GpjWNh31sOC8ZsLZm7eVOTZnCx4atvXNl3RqyWo2jL9El+ycXxODUnqrim6igmFOh2n95vatxx28UtSpgkgT4EGfpWGwuDL8bS6p0W0G/iVusVde6BPoK2HSxosj+MfRq3YZcoIyOPGRmLt36UH45xTqLefdjoi97GY9OfpVx3+lQWeHDEP2lJyDQfxTr/wBp9hTTkoK2PGLm6R5vjvtVw9a73WJO4LQPBQNF8hWj6GdPMThbipiXe7hyYJclnta/EGOpA5qeQ08TnSLDIos2bZUSXMZhvpoTtmjlRjB9HrFyyTft6BR2xuBE791UvyeO2K/Fp2mbgd41HLxFIxqHhVgpYtIZlbdtTO8hQNfGpyK1pijJpKcRTYoisSkpSK6mQBppsVJSEU1gGSaQinkV0UbFaIwaUmnEUlEWhyLUypSW1qyiVzWzaRhKUpU+WuK0LAVStIFqW6IBNUftDeHtTrYLLeWnYeIFVOtY8/kKVVogCAFLlqki0RtjQUGwDMlVeI4UOoJLKUJYMpggEFW+RPsKI5aQrQslmJs8Iw2Gc9a/WC42ZheJcC2Q4AhyRq3cO6iXRhEtPcRLfVz2lzLuuwKPvsBodai47bIzWyyqXU5SY7YTUCTzEnSOdZ7hnFRbtLDhrxlAiszE7QzDZRvr9dqzZEzVqUQ7fcK75VAAzka7l5zH3JPvQW8KdxriltGRFcF7akXYIhnaCVI55e1rynzqrYx9u6JU9wg6EE6xW3FjksabRj/3GOU3FPaH3RUvC7Nt3dLoBS5aZDPI5lZT6FfnUd0RQXF8Z6rEWSlxYDAXAQRv2WA7948DTtWgyyKDVlvhfRhLV2+WOXIyL1SZlEOwUliNBoSI8TU46F2ExD3bjZkWCyFbnWoGIjKS2q7a8tdKg47xBbjKyXci5iCFZ1ZphizQv4uX7oo5hcYxsqJR8+YQCWcs3eSBud/KsORtdM16rrRY4BiEPELzBcqslpbck7KpyqB3wSfUUS6at9yn8f8A+WoRhrJXEqCZPWqT5yKv9O8XbW2udwsMSRzOhGg571sxRqKMmSSTtmXt2yzBB8TRA8+flv7Vo8HhRZcAGQAskxzzfKST615rf4niHuE2DnttlIttoVyqqk223X4Z0MSedFeG9LrpYC8hCRkZyCpA5MeRjvHLlSZ4Sl0HxvKx3UtE2Kw+GuWmU21a9nuLqdCC2jDXRtRBo/wXg+KHVW+uHUZbedHUO/w5ioY7DVQO4R65XhuHZ7l64CjWyWDTkYEE7lCykiOYk+Fel8Jw6YWyblzLbEZiJOW2saKCff8A4qjHBylXwackklYWYVEwrzu508vPjFNlWOHBC5MoLXZ0BXSQe4c47t/Rq3GOM1LoiIphqUimEUUMNikp0UhFMKJSRS11FAEpDTopIphRtIRT4pIogLVpasKKitCp1rlNmpnRXEU6kNSxSC+OyfKh2WiN89k1RFWQegsVVqVVpq1IKLZKFC1ft7CqaVbWkbAyUVlemHSpsKwsYdFuX2GYlyertLsC+XViTMKCNpJGk2OmvHRhcO0E9bcBW2BuCRGc9wG9ec2jmNxz+FfcxP51r8bBz90ujneV5XpvhHv9gf8A4pisbxG3fdgBZRmIK9jJADoEJOhzaydjvpRjD4ZbB665mbM5Jy6LbWDlhVjs5gJjkdIiaZwrBg9a6yudrNgHXuJJHpPqBRRuA3Bnw4brbRQgkaOmbTLMw3fyjT0XyJ41NwetFviwzPGsq2rejO4vo+1i46qWvWmRnUAgtbXVd51HKP7NXqHY9VYVs6ntnUIh55p5/Puo7hOG9bduW2663bRerUkxcuLm7YYxAzS2nICiHGMbawlkJbQQDAVdpiSWbmdPE0+PyJcab/5Kc/jRU7jF73QHsImGY3LrQQhD3AGaTlMHISQTtyMxtWGu4/7xW+JQQx17TczJOxnltRniWNa428lg2WdtDDKByoJbw8nUc6l2GNx2a7B4dcUpew0kSco+IECdRvtmg7aVueB4MBld3Fy4ELAwQlte/Xmdp84515nw/BZO0NDyI3HrU91Hec1y4wMAgu0EDYHvA8axyw3pM6C8q1uOzUcV6RKmId7fbVZYMD+0BAI71JA/7vCsTx3id2997eMz1Zyxp2lJKnXkykRV4WeW3hVPE4UgQwzIY817vaa0wfFUY8tz2GeG3VuKVCZdAYAIIB2dSNv6Gn4/A37tpbegYaNcXLNxeRI21G/jpoDTeEYa9dvJ1ZnIjTyL29M0952MabUXwWQh0ZpNtoHKUYBl+R+VS18GeUWuzI8Iwr2cSxuMoyZSQSBNsgDrBm2A1nnII5Uf430qOOiyFhWIFteZXaWBECTz7iB31Nxfg32oqtmC57Pb0AghsxgSRpMd5qhw7h6Wrjpbdi4bW92cuVMuYiZ1LEgCNvGkyZVHXya8GKc476Np0L4Pbs3HzAPdVVIcarbDDtJ+68zrzUjbUVsCKFdFXQ4cBREE5tixY6lmPMmZ1ouRTxdpMvUeOiMimEVKRTTTWMQkUlSEUwijYGNIpKdFJFMmChK6liuimsWhtdTqSKIKLVuplqncxSW/jYLO08/IVJg8Wl0EoZAMTBH1rl0+zTItUhNdTWNAVEGKPZqkGqxjm0HnQ9roGpq+C0RlxWpQ9D0xinnT+uouJC+LlWLeKjVthue4UIF6gHHONBmOHDQFAN0gEk9yabDmSfAd9GGFzdIqzZo448mZzpXxsXLpuPB+9VUVtiIKohEjTUEx+9QDoXdZrTq51JhdSSDroZ9PQ1S6Y/5mZTOUhkIPZIPPuJB09Kbhmyu0HKGfNbO3xgPp3wTaH81dRR4tfQ4TfKDfybezmSxYWDPW3X0306oCPIBo86J4zil3CoGR+0QXbs7FjIiZ5lvakXCnLgD+01vORzkuHPyIHpVnjHDBfxOS62S11aM7SF0luyviYPlqa5Xsl5Dc+tncfqQ8OEMfboh6G4q/i1u4vGNmtp2bULEn9sgDfkNN9Z2od024hYv4eLPxC6gCwVJVpBaD4mivFuNKEFjDgJbUZQF0geH61h8ZiZv21AnUCe8lhpPlNDmpZNKkXrA8WBqTuVdgvEYci0hnUHOvfqYI+amrdjC5mkDz8+dei3OjWGJRIhQOZO4IG/Kh3+EWkLERrcujfVQHIBj2/rVkp+3kjEobSYEGHIFVAhk1tPs1tV+FTIjXU+fh6RWXvZUxV0ESi5ZEnSdJkfvD51nhmbv7F7xKiFFJpzW+RFaFbFkJmCyPAvIgwRvT2w1mCSswJ0Lba+PcNqnrO+heCog/6fQmKbTQWXI8O0oP1+dTW8FebG3FtIpzjUxKgZjBMkR8QG/Kl6L2P8+6oMAKBrqATJ89Iq9h8cwLOkQWIJyg5jlOhBnSGbTxPhTQleUTNFLDf3I+kSDDrFh+svAEXSohNQB933ka+c+AFZLB2Z7MgMvbYnXKu86b8tPKtzYtWrdrrWUuuxQGIfunkPH67VmbyoUW6iqpuElgoPcdJMkx408sXOQPG8pxjxa/Q0XQS+xa6CMohSF0JEHdiN2Mkn5aUYx3HOrdkyTljXNG4B7vGgnQf/Mu/wAI+oqo7liSSSTuTqTWmMEnXwWuTqzVcL4r17FcmWBPxTzjuFEDWZ6NH70/wn6ij+Pxa2UztMaDTU60s1TpDRerZKRTTQK/0nWDkRpjQtET4gGh/wD/AEF4spMQNwJGbwO9MoSI5xNZFIRQbB9IVdlQ2yCxABBBEnTXajcUGmuwpp9DKSnxXRTJgaGRSRT4qDGMVWR3/rTCsE8etu9xQqkwvLvJ/oKK9H8O1u2Qwglp9IA/Wsbh+k97MCWB127Inw0FFk6XQP8AKA3j7znHdA5/WsUoSriaOSZr5prGsG3SG+WLC5AmcoykAd0UtzpViB/p+39aX0pA0jU8SxISDI0kmdBFZjGcUBJAdY8x9aGY7pBeugq2WCCug5HfnQQ1pxwpbK5y3o06YkciD61Nb4pmMAg1lLRhh5iiGBAU5iQdDoDrVjSFUjTWMXO+lDOD8FbFpeZGC5rjFmiWZt8o5aAjXXyptnF67afOl4DfvYMsE+8ss2cSQHQkAEN+IGBqNQeRpeXFPiV5caySjfWzB9Pej13B9pizIx+Ijn4xz/Suv4RbvD0YAhrXaZoOgFuHHl92h5/SvZWa3jLJlZgiJAlWEET4isTa4QXs4qwrQMlwpA1OUsInxBgnz76fFkclT+Pky+Thjj3HS+gYv3lNzBryGGt+GrKDE+IEetVOnNxesshDMI4MGdJXLJ96o8SuK2HwTgw5w9nMO7sCJPfMj0qlib+Y5m5Dz0HOOes1zJRbyaO5FpY1JukkRW7UzmJgbj9TQPiHFUa8tu2B2WBnaSNgo/PwoV0h4zdut1KDLbkqFU6vyljz8tqu4XAsttcxVyoJMkZkgyCJ7hIPnW/F4tJuXZzPJ/1BNqMOn8mwbpA8KFHaOnaJy7b5diYH9KBJx1muqtuBLXZ7jnJbmfAH08KZcDtGTdQX9FEn329aZwrA9TdS+dVDMI27WQkjyhv1qu1x2Pk5OdJ9ha5xK4l4WrmrK7TDZZAUATG4iO6kXAtcNzFZp7WU29dVzhI8TOtR9HsZ1/EEd1XMytII00QiYO+1aQ2VtXwqWS3WPnLZmCBwcwMRGhAPlpS1TJLLcUjM4a9cFu7ZKlmM5DLSJ+IAd4j61c4bxJmtgODIBUyYOYZhmOmshtvKi44IUvl2ujMrK57J7QJ156EnSNaDXuGm2L5zGVIcAjdSCJB8gpjxoOEmi31sanV6/k1/QG6PvU8QfdRTMRbWyXR2CW0hyzScoK5fX4TpQvoPiSt+DoHB/UU//qssIrSe2VQgHTQlhI96z43+LQfLx/hf9DsRxi1ibAa1mW0C6qD8TZSR1jxzMExyBjvoRh3BsWIP7B38IHhVPgjqmDykagufcA9/jVroQlu8EttoClyGzEZWDb+PPSt60zlRai7NH0VulftBU6i3I25RUdX04Y2Da9nYG29k9Xc2DzlMAH9rwoWcQubKdDzkEAeBPI+FPzinbZuinJKgpwK7lvL+9K+//FF+lP8A7c/xL9aBcIb75P4gP796O9Kf/bn+JfrQl+dDR/KzC9aaQXD30yuq8pLGHxZRlaAcpB9jNbngnEvtCFsuWGyxM8gZ2Hf8q8+rX9CD93cH7w+Y/pSZFqx8b3Roorop9JFUovGEUN4sSMsHv/KisUK41dUZQzKDroSJ5U8exJdHmVpYPP2qdmn/AIqnbBHP609pOx+tBrYFItI0f8VFe1Mz8qjUkbn61G6k8/rUS2FyJJgRUHVeI+dSco501EYHf50UJZOoq5ZFVbYmrlpBzPtQCiwhqTPTEKj+tNu3V8KWg2F+E8XFu26ZoYtJ7wmUDMv70/Qd9R9HrnV3cjNOVyhY6Zg0hT5mQfWszjLgyuREgNHtVnguPW595Pwqkk8nQ5ZPiVKf7T362Y4NO/gyeVOMo8fnv+AFiSbV6/hmJzW7hFs5jokk5QsbSZ30179CSXQtsFhEgE+1QdOVUcQS6vw37auCOciD9BUPELNy69uzb/a1nkAOZ8v0rTDhGPLr7nOyPJOSgm3fSBnRvo4+Nxl3KersWixdzqAeSr4k6+AnwrSYzhVyzbc3BmsEMouhSANNCVJJHn/Y0/CMBawtgW5hBLOx3dtyzf3sKx/TXp316nDYeMuxYbfy95+Q+mFeTkyZKx9HVl4mLHjTyd/X/BNhrcYYsBq+S3m58rjAeigfzVWsY22OqVvhTM5/eJJGg9FFUuKcTZVt2w5UIswACJYAaz4KKoYrEG3dWP2FVfXKJoOL6DadsucAuN9tVxElidTGk6qD3xNeng/F5wNNYMR9RXkJxgYiFUGdYEVqMHxS51ZXOSCOeu+hkzNLJE18GnxNonHWLjEBR8iDop5AnNPoadx5FaIIyujByIPZhzI5ToKxl7EsrAq5B33OpBBBPftzq5jOJ3Xys75hGyrkXvIyg66ge1HloDxrkS9G7zZ7ROjwAdJg5YBjnpB961HE8N9tw91N2tkPb8SomD5gkeorI8IvdXcDeDBdSCPwx3GY961fRHEk3SSZzRJ8QMsfIH1rFlXGdo6cPxMHu+hj7DOLTLH4iPYVF0RxLoLZjSXiN4JaZnxmjPSLBm1duoNBLxvsQGH1j0rL8AvhUWWBgvI13JY8q3QfLZxXCpcWFOIcaxNolLjhmv8AYUmD1YBksnNYnTxg61HwnEu1pLQH3kGeZ7UEkayD2tT5UPum3evNfv8A+TbXKq69o89Pn6rQrh189f2FyG9AtdoqIz9kSNQIAHpPOllhial5Di7+Ko2nDONPh7kXx2w2adYncRBhhEbQY1ii/FOkvWnK1xYMHIvaAgbmJI9aAYjgb27d27ee7enQMYtWkg6Dt9q43IQB4d9ZlLShmuRoPi8TyWAYY+enOrFKilZr6NcmLtkSHB8jT1vqdARWWUvbcsQCrRmyiMkTow2JidY5eVFLNyCD3VfCXJDJ2GK1fQZ9Lw/+s/8An+lYb7efwj3ojwvjtq1JbL2gNGQtESNI23+lGStUNF07PQOOcYTDWy8Zm2CgideZ12oRwHpUb9wq4VFgwc2o1/anzUehNZ/Ecbt3CWCkzyVQg9P+Ko4biXVz1dtQSd2aSPXTx9zSrFoLyuz0q7jwD2RPifyrCdMhda+FtsB2FYkkg7sND6VR/wAXxPK6iDulfzmqmKx10sGa8S2WCy6yATA5bT86PCmhebknZWVwa7rRSiwRyqK4gUwfrVVosol6wU03R/YqHOP7NOXKf+alohJnFKLg/sVBeuARt70jXANvrUtECWFdJOY+UT+VXS9oAEsYMxvy35UFF0byO7+/apL98Mqifhn5mhYQwt20QSG0G++k+lD7uIE7rlneW29qq2rgyus/FHpFRNcBXL/elS0QtcSyLbcZoYgwPWKrcAudWbVkjtXC76DuGkgbnUCuxJFwgmI0kaHSZNVeEr1uIuX5gA9RZI5CCHYDmJM+tXKT4e3sxZUvVXLrX7lnpOQ+GwlwSOpdrLHmFB03/hrR/cYPDLibrzIEaakxotZi9bz4a7ZG5a09sTuzACJPewbWhPSXGOcFhbLjVbl4a7gplWO74mYfy1Tlg5uMb0yzxpRx8pVtFfpL0sv45urUFLZMC2p1buzHn5bedFOF8MTDWgXUNcfQ6THPKJoTwbCi2QzfG23P0FH0xkuFBkzrGvhAjYDvrWscccKWjFPyHmypPa/v/gLNhnv5WGpILeC6H6VX4k03bh/eNafIolhGurN3+vdWSxD5mYjYsSPImsrNwwHnWi4a0oKzc0S4Li4YIeZpWtEXYSx9ttCAT5cqfgb4dSDuOVT4i8w0VJ8TVbJeYz2R4iT+lVjjMNxO31ptHQ5wqty2Ag93ara9Er2W8VPMyPXmPePSvO+JYIWw91iM2ZSo72kk6f3zrVcLxUG3c5iJ8Qd9aq8iGrRr8LJ3jf6oPdP7QzltuxPqJB+UV5VhMRkYgAsT2VHLMRvtyJn0r1jp5iR1a3YkZHB055Q2nzrz/BKtu2CCGbkRoNd8vd502CXsRk8iNZWXuB9H7mIZbZXQfGZzBR+EDvIG3vR/jnAsJ1BtdaLdyz96rsMzFzoA0AdgxsO8RtT+F9MMHZVcNm6uFM3AhJdyupBOmYtA7W3gBQPpXxbrUjJqGUls5OigwDI5mNtI5c6fdmR8pP7EPEOM3cWtrMwyKugAPxbZmHNuXLY6CTVF0EAchy/NjzNBxxQ/DAG3aafWY7++rbcQZYD2tORU6eY76aqLtBK7cCIO7Mo+tR4bFgFrZ3Q6fwnUfmPQUNxuMV0gSNZg1ba0HNq5MZxkbzGo+hpoPixk9l/7Wnefaka6rDQ/lUZwQ/F8v60v2ECO347f1q31C3iT27hgQY8jTS/eaR7KgxnePCKQ2V/E/wAqnqInEdmFXvs65ULMRKkjKobQsRqSw7jVBMMp3Z/lUjWpgdY8AQNRoN4+dTmg8QUzVbtYpXAW76PzHn3iufDJzJ96b9mt+PvVIwzE4ZkO0g7MNQahg/hPsaJ2QAABMcppz3IqAsElT+E+xpOrb8J9jRUPSm5UJaBQtP8Ahb2NL1L/AIW9jRXrKb1lQiBZsv8AhPtSdU/4TRM3JqPrNagSkuHc7qYkDuqfEcXOHILFHAOqhh1gnSd+1y5D1q0lwMQs8x9aAccxFs/5dtToZMCAfzq/FpMy+RFSewumNW6LZTU3M1sAfEGFxShI5KC7EtsI8qBY/Gu14nEuCUdyUYaZ2JDwFEDVR7UzonixbvgEwLitbJgtGYdmFGpOYKaH8QuszlrvaZiWY6A5mOZ9BoO0TpFNddFHG7RYfio1CLlnmTOngDt70a6KEHN+KZJ3MDv96yIrU9EX/wAwgiY25ttookSaWUrVsbHBRei5x24AcqMYbVgDpNCBRPi+b9qyya7lSNuUHb3oWSPH2qq0y8YTTrSsT2dxqNQKUKPH2/rUlq0pO7Dxj9KDYKD9jFMbeZ9wDO2seVP4PdlY5g/WqjXHuLkUFtACcsbeM1d4bwjEbgIP4m09l/OqpSiu2WKyjxh3V1i3auK0kdYGJBGhAIYabGKK2uLO6KjWcPbC7m2t1XIiIl3YEc48Kp8WVgUt3lCtuHVpVhsdPaivCcNndVYllMzpm0jXvIqz2vFbKouSzrh3Ya6aozcLDDUoQWHeuaCPYivKhiiPh7PhMivZOkqBcDiBr95aaANQCFILD0ivFbNyGB0I5gxqKz+M/azX5q96Y/7S/wCKfAgMPYirb8Qdgo8J8J/LkfWosY6MDljQyIgSCBp5gzVOCZjuPtua09mMsWGt54JkMGUnkrNMEeRNSYTEEDI2sGI7vKqltgVin3LTMQVEk6NHIjn671CFq6JOms7UdsWO1bsg6W1zuf3mkKP/ACPpQ/g/DiTmZiVXUmIkjdQefj7Uf4Sshrv+o0jlCDRBHlr/ADUCyEd2d9hB/a+VKMBH7R9quINYqYCoXlJLCwBE1J1I7h7VPFOUiiQgW0O4e1Sra8qk0pZqEM5mI7teZB1qZTP/AAaibXvprMdhMeRoAJuv84+tR9d4U2PA+1PC+BoWGkKLo7tPnSi4O6kUeBj0pWUjlRslI4jn7eFR3H5U9ZPL3pCp8KlkpDSdJ2qNgKflroqAK76KSN4+un50HxbDq8v8U/7jRzEWhkbfYx6VmMW+47i31NXYujPm7KVtyjBhoVII8wZFXMViOvN25lCnOXyjUQzEka901UujSp+EWyXaOSknykD86d6ZUtlXErDH3Hkda1H/AE+Qm9mAkW8zNO0Fcg+Z+RoBxdIcEbFR8tP0rUdBsSLdm6YIZmHbiQMoAEjfd/HUis+V1FoeK2HuNYtCZKoZ5llBImP2XzHz12rOtgM57GXyzgmp8SAzmWVYhY7RiBrsDzmrtrFYZRD/AHngE/Noist10XlI8NVVPWJcVuTCGTwmNRTMI6LGgB8daXEYyJ6oFF7s5MjxXMRVcykHwB2nfwpkm1sgbsYsHd0H9+FF8LjrYUKzIeWswfespY4gV1XQ/ukj3BkGjuG4sLiQyjMsHMBvBnUAQNJqmcApkHSm0rIjW1HYJzRA0O5y7xoKJ9EboRHvExktkjWO1pl188o9aj4ncABLSwykAATvoT3DTvih2Duk2cikkEg5Z3OwnxGtXY7licQQqOZS/tmmfiKvgnuX3J1bNlAP7LEzrt2QPSvH02Fa/jfFrdrCthAJuMwYlSCq6kkE8zqRWWwtvM6jeSPadflVnj46TY3m5FzS+nf6kdSWHysG7t/L9oe01pv8Mtn/AOIf7TSjhCf6P/aassq9JmTXDvmyqrNrpAJkciKsvaa0wFxWAO4BjMPA1sVs3Nspp7YUsIZJHMGPzNSxvSB93iCOiW7JEv2QBoUWNSRygCiltsoAA0AgeQqnguEC0zMqxOg1Bgc+fM/QVd6hu75ioPFP5HZ5pRcpvUt4e9d1DeHuf0qDD2uUgu0v2Zu8fOnjAt+Iex/WoQctynZ65MER+18v61J9kP4vlUIA1WnM0UldQIIhmpcjd30/WurqhBy2m/CfcfrTuobu+Y/WurqhBeobu+dNGEaeXv8A0rq6oQ44JvD5/pSf4c34h86WuqEOuYA5SMw2PL+tYDEtLN5/WurquxfJnz/BBiDtR/ofhQ7XAZ+Fdo5k11dRydCY/wAyKPH7GXQ7qxX+/atR0R4fnwam28OztmRho7KezrygAecV1dVHkdBj+YtnhyshLFUKMywVJHeBKa6THpUPEr7tGYWW00IVwY9SK6urGnsv+AQil2C8yQBGmpMCi3H+Hm2itAENHuP6UtdWqCuLYDPk1LYOorq6kYDZ3cIVUDIrKwIOwKr3zzrH4kvaN1ORDgGdiAdfcV1dSeHK5MTyFpfqA8QZM99E+E2Qv3jcgSB8prq6ugjLLo2uFyMiMS3aVTpHMTVuxZVhChj6gfnS11V8vsjeo2u2TJwlzsjH+ZB+dTJwC6f2CPN1rq6pY3ElHR653Afz/oKlXo9c70Hqx/KurqFh4la9w+2vx3VH8tw/lVW5cwg0OIHpZufnXV1BsFDBjMEP/luN5W4+tc3GMGP9c/yoPzrq6hbCNPH8MNrd4+bKPpUTdJbHKwx87p/Ja6uqcmCj/9k= */
.links ul {
  list-style: none;
  padding: 0;
}

.links a {
  color: #f1c40f;
  text-decoration: none;
  font-weight: bold;
}

.links a:hover {
  text-decoration: underline;
}

/* Подвал */
footer {
  background: #000;
  color: #888;
  padding: 15px;
  font-size: 0.9rem;
  border-top: 2px solid #f1c40f;
}
